# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local
.env.production

# Database
*.db
*.sqlite

# IDE
.vscode/
.idea/

# Prisma
prisma/migrations/
/src/generated/prisma
